<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<div class="row margin-form">
    <div class="col-6 mx-auto">
        <form action="/admin/location/new" method="POST" class='needs-validation' novalidate >
            <div class="mb-3">
                <label for="naam" class="form-label">Location Name: </label>
                <input type="text" class="form-control" name="name" id="naam" placeholder="Name of Location" required>
                <!-- looks good validator -->
                <div class="valid-feedback">
                    Looks good!
                </div>
                <!-- error validator -->
                <div class="invalid-feedback">
                    Please provide a location name.
                </div>
            </div>
            <div class="mb-3">
                <label for="imge" class="form-label">Image Url: </label>
                <input type="text" class="form-control" name="img" id="imge" placeholder="Image URL of Product" required>
                <!-- looks good validator -->
                <div class="valid-feedback">
                    Looks good!
                </div>
                <!-- error validator -->
                <div class="invalid-feedback">
                    Please provide an image URL.
                </div>
            </div>
            
            <button type="submit" class="btn btn-sm btn-success">Add</button>
        </form>
    </div>
</div>

<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
</script>


<%- include('./partials/footer')%>
